*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 2px solid black; */
}
.wrap{
    
    position: relative;   
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height:1000px;
}
#container{
    position:absolute;
    z-index: 1;
    display: flex;
    flex-direction:column;
    width: 1200px;
    height:1000px;
    margin-left: auto;
    margin-right: auto;
    background-image:url("/images/bg1.jpg");
    background-size: cover;
}
#start{
    position:absolute;
    background-color: white;
    z-index: 2;
    width: 1200px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#start h1{
    font-size: 56px;
}
#blue{
    color:rgb(2, 159, 136);
}
#red{
    color:red;
}
#green{
    color:rgb(178, 233, 95);
}
label{
    font-size: 35px;
}
#name1 {
    font-size: 35px;
}
#enter{
    width:150px;
    text-align: center;
    border: none;
    background-color: rgb(242, 73, 178);
    color: white;
    font-size: 40px;
    border-radius: 2rem;;
    padding:20px;
}
#enter:hover{
    border:2px solid black;
        text-align: center;
        background: linear-gradient(to right,red , orange, yellow, rgb(1, 248, 1), blue, purple, rgb(247, 2, 223));
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: rainbow 1s linear infinite;
}
@keyframes rainbow {
to {
    background-position: 100% center;
    }
}
main{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.button-container{
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    padding: 1rem;;
}
.board{
    border-radius: 2em;
    background-color:rgb(242, 73, 178, 50%);
    background-size: cover;
    text-align: center;
}
.name{
    font-size: 40px;
}
.score{
    font-size: 40px;
}
.player{
    display:flex;
    flex-direction: column;
    width:330px;
    height:890px;
}
.play{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 700px;
    padding: 1rem;
    justify-content: space-around;
}
.display{
    width:500px;
    height: 760px;
    text-align: center;
    font-size: 40px;
}
#round{
    color:white;
}
#gameText{
    color:white;
}
.control{
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.choice{
    width:150px;
    padding: 1rem;
}
.icon{
    padding:0rem;
}
.icon-img{
    background-color: black;
    border-radius: 15px;
    width:100px;
}
.icon-com{
    background-color: black;
    border-radius: 15px;
    width:100px;
}
.icon-img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    box-shadow: 0px 0px 5px 5px rgb(0,0,0);
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(-1deg); }
    50% { transform: translate(-1px, 2px) rotate(0deg); }
    60% { transform: translate(-3px, 1px) rotate(1deg); }
    70% { transform: translate(3px, 1px) rotate(0deg); }
    80% { transform: translate(-1px, -1px) rotate(-1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(1deg); }
}
footer{
    display:flex;
    flex-direction: column;
}
button{
    width:220px;
    padding:10px;
    font-size: 22px;
    background-color: rgb(242, 73, 178);
    border: 3px solid black;
    border-radius: 2rem;
}
button:hover{
    background-color: rgb(245, 144, 206);
    transition: 1s;
    box-shadow: 0px 0px 5px 5px rgb(0,0,0);
}